.wrapper {
  padding: 20px;
}

.loginPage {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #fe8327 50%, #ffffff 100%);
  background-size: cover;
}
.card {
  /* Change background color */
  background-color: white;

  /* Add border */
  border: 1px solid #bacdd8;

  /* Add space between the border and the content */
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 12px;
}